#control-panel {
  background-color: white;
  border-color: black;
  border-style: solid;
  border-width: 0.1rem;
  bottom: 0;
  margin: 2rem;
  padding: 2rem;
  position: absolute;
  right: 0;
  z-index: 2;
}
